@import url("/fonts/inter.css");
@import "tailwindcss";

@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

body {
  @apply text-gray-900 dark:text-slate-100;
  transition: color 0.3s ease;
}

html.light {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}